@page
@using Microsoft.Extensions.Localization
@using OneSystemMonitor.Localization
@model OneSystemMonitor.Web.Pages.OneSystemMonitor.IndexModel
@inject IStringLocalizer<OneSystemMonitorResource> L
@{
}
<h1>OneSystemMonitor</h1>
<p>@L["SamplePageMessage"]</p>
